<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_tickets_now__1_"
        android:label= "@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.SelectTickets"></activity>
<!--        <activity android:name=".UI.TimeSchedule" /> &lt;!&ndash; <activity android:name=".Admin.MovieUpload"></activity> &ndash;&gt;-->
        <activity android:name=".UI.Search" />
        <activity android:name=".UI.Theaters" /> <!-- <activity android:name=".UI.UpcomingMovies" android:theme="@style/NoActionBar"></activity> -->
        <activity android:name=".UI.MoviePlayerActivity" />
        <activity android:name=".UI.MovieDetailsActivity" />
        <activity android:name=".UI.ForgotPassword" />
        <activity
            android:name=".UI.PopupMap"
            android:theme="@style/Theme.AuthApp.CustomThemePopUp" />
        <activity android:name=".UI.RegisterUser" />
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.Logo" />
        <activity android:name=".UI.Home" />
        <activity android:name=".Admin.MovieUpload" />
        <activity android:name=".UI.TimeSchedule" />
        <activity android:name=".UI.UpcomingMovies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADG1VDZ-IZFV8BvFYR4IKr0KSxqvsX1eE" />
    </application>

</manifest>