<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.authapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/movie_tickets_now__1_"
        android:label="Movie Tickets Now"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AuthApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".UI.Search"></activity>
        <activity android:name=".UI.Theaters" /> <!-- <activity android:name=".UI.UpcomingMovies" android:theme="@style/NoActionBar"></activity> -->
        <activity android:name=".UI.MoviePlayerActivity" />
        <activity android:name=".UI.MovieDetailsActivity" />
        <activity android:name=".UI.ForgotPassword" />
        <activity android:name=".UI.RegisterUser" />
        <activity android:name=".UI.MainActivity" />
        <activity android:name=".UI.Logo" /> <!-- <activity android:name=".UI.Home"/> -->
        <activity android:name=".UI.UpcomingMovies" />
        <activity android:name=".UI.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>